{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{#{% block head_title %}{% trans "Change Password" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>#}
{##}
{#    {% if token_fail %}#}
{#        {% url 'account_reset_password' as passwd_reset_url %}#}
{#        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>#}
{#    {% else %}#}
{#        {% if form %}#}
{#            <form method="POST" action="{{ action_url }}">#}
{#                {% csrf_token %}#}
{#                {{ form.as_p }}#}
{#                <input type="submit" name="action" value="{% trans 'change password' %}"/>#}
{#            </form>#}
{#        {% else %}#}
{#            <p>{% trans 'Your password is now changed.' %}</p>#}
{#        {% endif %}#}
{#    {% endif %}#}
{#{% endblock %}#}
<!DOCTYPE html>
<html>
{% load i18n static %}
  <head>
    <link href="{% static 'img/favicon-grafistica.png' %}" rel="icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Grafística</title>
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
{#      <div class="logo">#}
{#        <h1>Grafística</h1>#}
{#      </div>#}
      <div class="login-box">
          {% if token_fail %}
              <div class="login-form">
 <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>{% trans 'Cambiar contraseña' %}</h3>
              {% url 'account_reset_password' as passwd_reset_url %}
              <p>{% blocktrans %}El enlace para restablecer la contraseña no era válido, posiblemente porque ya se ha utilizado.   Por favor
                  solicite un <a href="{{ passwd_reset_url }}">nuevo cambio de contraseña</a>.{% endblocktrans %}</p>
                <div class="form-group btn-container">
                    <a  href="{{ passwd_reset_url }}">
                     <button type="submit" class="btn btn-primary btn-block">{% trans 'Solicitar' %}</button>
                    </a>

                </div>
              <div class="form-group mt-3">
                          <p class="semibold-text mb-0"><a href="{% url 'viewer:login' %}"><i
                                  class="fa fa-angle-left fa-fw"></i>{% trans 'Login' %}</a></p>
                      </div>
              </div>

          {% else %}
              {% if form %}
                  <form class="login-form" method="POST" action="{{ action_url }}"
                        class="password_reset">
                      {% csrf_token %}
                      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>{% trans 'Cambiar contraseña' %}</h3>
                      <div class="form-group">
                          <label class="control-label">{% trans 'Nueva contraseña' %}</label>
                          <input name="password1" id="id_password1" class="form-control" type="password" placeholder="Nueva contraseña">
                      </div>
                        <div class="form-group">
                          <label class="control-label">{% trans 'Repetir contraseña' %}</label>
                          <input name="password2" id="id_password2" class="form-control" type="password" placeholder="Repetir contraseña">
                      </div>
                      <div class="form-group btn-container">
                          <button type="submit" class="btn btn-primary btn-block">{% trans 'Cambiar' %}</button>
                      </div>
                      <div class="form-group mt-3">
                          <p class="semibold-text mb-0"><a href="{% url 'viewer:login' %}"><i
                                  class="fa fa-angle-left fa-fw"></i>{% trans 'Login' %}</a></p>
                      </div>
                  </form>
              {% else %}
                  <p>{% trans 'Your password is now changed.' %}</p>
              {% endif %}
          {% endif %}

      </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'js/plugins/pace.min.js' %}"></script>
    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
      	$('.login-box').toggleClass('flipped');
      	return false;
      });
    </script>
  </body>
</html>
