{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{#{% load account %}#}
{##}
{#{% block head_title %}{% trans "Password Reset" %}{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#    <h1>{% trans "Password Reset" %}</h1>#}
{#    {% if user.is_authenticated %}#}
{#    {% include "account/snippets/already_logged_in.html" %}#}
{#    {% endif %}#}
{##}
{#    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>#}
{##}
{#    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="{% trans 'Reset My Password' %}" />#}
{#    </form>#}
{##}
{#    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>#}
{#{% endblock %}#}
<!DOCTYPE html>
<html>
{% load i18n static %}
  <head>
    <link href="{% static 'img/favicon-grafistica.png' %}" rel="icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Grafística</title>
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
{#      <div class="logo">#}
{#        <h1>Grafística</h1>#}
{#      </div>#}
      <div class="login-box">

        <form class="login-form" method="POST" action="{% url 'account_reset_password' %}" class="password_reset" >
            {% csrf_token %}
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>{% trans 'Recuperar' %}</h3>
          <div class="form-group">
            <label class="control-label">{% trans 'Correo' %}</label>
            <input name="email" id="id_email" class="form-control" type="text" placeholder="Correo">
          </div>
          <div class="form-group btn-container">
            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>{% trans 'Recuperar' %}</button>
          </div>
          <div class="form-group mt-3">
            <p class="semibold-text mb-0"><a href="{% url 'viewer:login' %}"><i class="fa fa-angle-left fa-fw"></i>{% trans 'Regresar' %}</a></p>
          </div>
        </form>


      </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'js/plugins/pace.min.js' %}"></script>
    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
      	$('.login-box').toggleClass('flipped');
      	return false;
      });
    </script>
  </body>
</html>